@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-Thin.woff2') format('woff2'),
        url('PeydaFaNum-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-SemiBold.woff2') format('woff2'),
        url('PeydaFaNum-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-Regular.woff2') format('woff2'),
        url('PeydaFaNum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-Medium.woff2') format('woff2'),
        url('PeydaFaNum-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-Light.woff2') format('woff2'),
        url('PeydaFaNum-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-ExtraLight.woff2') format('woff2'),
        url('PeydaFaNum-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-Medium.woff2') format('woff2'),
        url('PeydaFaNum-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-ExtraBold.woff2') format('woff2'),
        url('PeydaFaNum-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-Bold.woff2') format('woff2'),
        url('PeydaFaNum-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda(FaNum)';
    src: url('PeydaFaNum-Black.woff2') format('woff2'),
        url('PeydaFaNum-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Peyda(FaNum)' !important;
}